@import "tailwindcss";

:root {
  --font-family: "Inter";
  --background: #F9FAFB;
  --foreground: #121826;
  --customBackground: #FFFFFF;
  --customColorFont: #121826;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-customBackground: var(--customBackground);
  --color-customColorFont: var(--customColorFont);

}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #212936;
    --foreground: #FFFFFF;

  }
}

  .dark{
    --background: #212936;
    --foreground: #FFFFFF;
    --customColorFont: #FFFFFF;
    --customBackground: #4D5562;

  }
  



.pageHeader {
  border-bottom: 1px solid #E5E7EB ;
  width: 100%;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}
